<section class="section-title" style="text-align: center;">
    <p>OPERATION SUCCESSFUL!</p>


    <div class="section-title-notice" style="text-align: center;">
        <i class="fa fa-check" id="checkmark" style="font-size: 4.0625em;line-height: 1;color: #24b663;"></i><br>
        <p>Your pdf file will be downloaded soon.Please be
            patient...</p>
    </div>
</section>