<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #EC9022;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="https://fas.wyb.ac.lk/wp-content/uploads/2020/10/center_white.png"
                alt="" width="237" height="61" class="d-inline-block align-text-top"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active text-white" aria-current="page" href="/courses">Home</a>
                <a class="nav-link" href="/courses/modules">Modules</a>
                <a class="nav-link text-light-muted" href="/courses/register">Registration</a>
            </div>
        </div>
    </div>
</nav>


<!-- https://fas.wyb.ac.lk/wp-content/uploads/2020/10/center_white.png -->