<!-- <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WUSL-course registration</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    </head> -->


<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>WUSL - course explorer</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="mentor-template/assets/img/favicon.png" rel="icon">
    <link href="mentor-template/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="mentor-template/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="mentor-template/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="mentor-template/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="mentor-template/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="mentor-template/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="mentor-template/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="mentor-template/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <!-- <link href="assets/css/style.css" rel="stylesheet"> -->

    <!-- =======================================================
  * Template Name: Mentor - v4.7.0
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>








































  <!-- <body class="d-flex flex-column vh-100"> -->


  <!--  <h1 class="d-flex justify-content-center">Welcome</h1>
   

    <div class="container">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Address</div>
            <div class="text-one">Faculty of Applied Sciences</div>
            <div class="text-two">Wayamba University of Sri Lanka</div>
            <div class="text-three">Kuliyapitiya</div>
            <div class="text-four">Sri Lanaka</div>
          </div>
          </br>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Telephone</div>
            <div class="text-one">+(94)372283623</div>
            <div class="text-two">+(94)372281749</div>
          </div>
          </br>
          <div class="fax details">
            <i class="fa fa-fax"></i>
            <div class="topic">fax</div>
            <div class="text-one">+(94)372281663</div>
          </div>
          </br>
          <div class="email">
            <i class="fa fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one"><a href="deanfas@wyb.ac.lk">deanfas@wyb.ac.lk</a></div>
          </div>
          </br>
        </div>
        <div class="right-side">
          <div class="topic-text">Quick Links</div></br>
          <div class="text-one"><a href="https://www.wyb.ac.lk/">Wayamba University of Sri Lanka</a></div>
          </br>
          <div class="text-two"><a href="http://libsys.wyb.ac.lk/">WUSL Library</a></div>
          </br>
          <div class="text-three"><a href="https://ictk.wyb.ac.lk/">ICT Centers</a></div>
          </br>
          <div class="text-four"><a href="https://ugc.ac.lk/">University Grants Commission</a></div>
          </br>
          <div class="text-five"><a href="https://moe.gov.lk/">Ministry of Education</a></div>
        </div>
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe width="600" height="350" id="gmap_canvas"
              src="https://maps.google.com/maps?q=wayamba%20university,%20faculty%20of%20applied%20sciences&t=&z=11&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://123movies-to.org">123 movies</a>
            <br>
            <style>
              .mapouter {
                position: relative;
                text-align: right;
                height: 350px;
                width: 600px;
              }
            </style>
            <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
            <style>
              .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 350px;
                width: 600px;
              }
            </style>
          </div>
        </div>
      </div>
    </div>



  </body> -->

</html>