<main class="main">
    <br>
    <br>
    <br>
    <div class="row d-flex justify-content-center">
        <form class="row align-items-center p-3 bg-light text-dark" style="height: fit-content;">
            <div class="col-auto">
                <label class="form-label" for="deptSelect">Select Department</label>
                <select class="form-select" id="deptSelect">
                    <option selected>Choose...</option>
                    <option value="1">CMIS</option>
                    <option value="2">ELTN</option>
                    <option value="3">Maths & Stat</option>
                    <option value="4">IMGT</option>
                </select>
            </div>
            <div class="col-auto">
                <label class="form-label" for="lvlSelect">Level of Study</label>
                <select class="form-select" id="lvlSelect">
                    <option selected>Choose...</option>
                    <option value="1">Level I</option>
                    <option value="2">Level II</option>
                    <option value="3">Level III</option>
                    <option value="4">Level IV</option>
                </select>
            </div>
            <div class="col-auto">
                <br>
                <button type="submit" class="btn-sm btn-info" id="searchQ">Get modules</button>
            </div>
        </form>

        <div class="row align-items-center p-3 bg-light" id="moduleContent">

        </div>
    </div>


    <script src="/javaScript/infoHandler.js"></script>
</main>