<main class="main">
    <!-- <link href="/assets/css/now-ui-dashboard.css" rel="stylesheet" /> -->
    <!-- <link rel="stylesheet" href="/css/personal.css" /> -->

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Module Details</h2>
            <p>Search for Modules according to their respective department & the level of study to gain insight on each
                module</p>
        </div>
        <div class="row d-flex justify-content-center">
            <form class="row align-items-center p-3"
                style="height: fit-content;display: flex;align-items: center;justify-content: center;">
                <div class="col-md-5 pr-1">
                    <div class="form-group">
                        <label for="deptSelect">Department</label>
                        <select class="form-control" id="deptSelect">
                            <option selected>Select Department</option>
                            <option value="1">Department of Computing & Information Systems</option>
                            <option value="2">ELTN</option>
                            <option value="3">Maths & Stat</option>
                            <option value="4">IMGT</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 pl-1">
                    <div class="form-group">
                        <label for="lvlSelect">Module Level</label>
                        <select class="form-control" id="lvlSelect">
                            <option selected> Select Level of study</option>
                            <option value="1">Level I </option>
                            <option value="2">Level II</option>
                            <option value="3">Level III</option>
                            <option value="4">Level IV</option>
                        </select>
                    </div>
                </div>
                <div class="col-auto">
                    <br>
                    <button type="submit" class="get-started-btn-custom" id="searchQ">Get modules</button>
                </div>
            </form>


        </div>
    </div><!-- End Breadcrumbs -->


    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8">
                    <h3>Et enim incidunt fuga tempora</h3>
                    <p>
                        Qui et explicabo voluptatem et ab qui vero et voluptas. Sint voluptates temporibus quam autem.
                        Atque nostrum voluptatum laudantium a doloremque enim et ut dicta. Nostrum ducimus est iure
                        minima totam doloribus nisi ullam deserunt. Corporis aut officiis sit nihil est. Labore aut
                        sapiente aperiam.
                        Qui voluptas qui vero ipsum ea voluptatem. Omnis et est. Voluptatem officia voluptatem adipisci
                        et iusto provident doloremque consequatur. Quia et porro est. Et qui corrupti laudantium ipsa.
                        Eum quasi saepe aperiam qui delectus quaerat in. Vitae mollitia ipsa quam. Ipsa aut qui numquam
                        eum iste est dolorum. Rem voluptas ut sit ut.
                    </p>
                </div>

            </div>

        </div>
    </section><!-- End Cource Details Section -->


    <div class="row align-items-center p-3 bg-light" id="moduleContent">

    </div>

    <script src="/javaScript/infoHandler.js"></script>
</main>