<main class="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Module Details</h2>
            <p>Search for Modules according to their respective department & the level of study to gain insight on each
                module</p>
        </div>
        <div class="row d-flex justify-content-center">
            <form class="row align-items-center p-3"
                style="height: fit-content;display: flex;align-items: center;justify-content: center;">
                <div class="col-md-5 pr-1">
                    <div class="form-group">
                        <label for="deptSelect">Department</label>
                        <select class="form-control" id="deptSelect">
                            <option selected>Select Department</option>
                            <option value="1">Department of Computing & Information Systems</option>
                            <option value="2">ELTN</option>
                            <option value="3">Maths & Stat</option>
                            <option value="4">IMGT</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 pl-1">
                    <div class="form-group">
                        <label for="lvlSelect">Module Level</label>
                        <select class="form-control" id="lvlSelect">
                            <option selected> Select Level of study</option>
                            <option value="1">Level I </option>
                            <option value="2">Level II</option>
                            <option value="3">Level III</option>
                            <option value="4">Level IV</option>
                        </select>
                    </div>
                </div>
                <div class="col-auto">
                    <br>
                    <button type="submit" class="get-started-btn-custom" id="searchQ">Get modules</button>
                </div>
            </form>


        </div>
    </div><!-- End Breadcrumbs -->


    <div id="main-content">

        <div id="nothing-selected">

            <!-- ======= Module Details Section ======= -->
            <section id="course-details" class="course-details">
                <div class="container" data-aos="fade-up">

                    <div class="row">
                        <div class="col-lg-8">
                            <h3>Faculty of Applied Sciences</h3>
                            <p> The Faculty of Applied Sciences of the Wayamba University of Sri Lanka was established
                                with effect from 01st October, 1999 by the Government Notification in the Extraordinary
                                Gazette No. 1093/8 of Tuesday, 17 August, 1999. The Faculty is located at Kuliyapitiya
                                Premises of the University and was assigned with four Departments of Study namely,
                                Computing & Information Systems, Electronics, Industrial Management and Mathematical
                                Sciences.
                            </p>
                        </div>

                    </div>

                </div>
            </section><!-- End Cource Details Section -->

        </div>


        <!-- ========== All the search results appear within below ========= -->

        <div class="row align-items-center p-3 bg-light" id="moduleContent">

        </div>
    </div>


    <section class="course-details" id="error-content">

    </section>

    <script src="/javaScript/infoHandler.js"></script>
</main>