<main class="main">
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Notice</h2>
            <p><%= result[0].filename %> - <%= result[0].url %> </p>
        </div>
    </div>

    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up" id="pdfViewer" style="text-align: center;">

            <canvas id="pdf" style="width: 500;">

            </canvas>
        </div>
    </section>

</main>