<div class="card">
    <div class="card-header">
        <h5 class="title">Edit Department Details</h5>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-2 pr-1">
                    <div class="form-group">
                        <label for="deptID">Department ID</label>
                        <input type="number" id="editdeptID" class="form-control" disabled="" value="<%= id %>">
                    </div>
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                        <label for="deptName">Department Name</label>
                        <input type="text" class="form-control" placeholder="department name" id="editdeptName"
                            value="<%= result[0].deptName %>">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 pr-1">
                    <div class="form-group">
                        <button class="btn btn-danger btn-round btn-outline-danger" id="updateback">
                            <i class="now-ui-icons ui-1_simple-remove"></i> Cancel
                        </button>
                    </div>
                </div>
                <div class="col-md-3 pl-1">
                    <div class="form-group">
                        <button class="btn btn-primary btn-round btn-outline-info" id="updateDept">
                            <i class="now-ui-icons ui-1_simple-add"></i> Update Department
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>