<div class="col-6 offset-3">
    <div class="card card-plain">

        <div class="alert alert-danger" role="alert">
            <% var message=error.message?error.message:error.code?error.code:'Something went wrong!' %>
            <h4 class="alert-heading"><%= message %></h4>

        </div>
    </div>
</div>