
<html>
<head>
  <link rel="stylesheet" href="registrationForm.css">
</head>
<body>
	
	<div class="container-fluid">
    <form>
	<!-- <textarea cols="10" rows="8" >  
</textarea>  -->
<div class="photo">
  <div class="img" style="background-image:url(/Images/); background-position: center; background-size: cover; background-repeat: no-repeat;">Photograph</div>
	<h5 align="center"><em>Faculty of Applied Sciences</em></h5>
	<h5 align="center"><em>Wayamba University of Sri Lanka</em></h5>
	<h4 align="center">Course Registration Form</h4>
	<h5 align="center">Acadamic Year: 2019/2020 (Level 3)</h5>
	<h3 align="center">B.Sc.(General) Degree Program</h3>
</div>

	<div align="right">
    <input type="text" id="RegNo" name="username" placeholder="Reg. No................................."><br>
	</div>
  <div>
    <span class="elements">
      <label class="new" for="test">01.  Name in Full(Mr./Ms.):-</label>
      <input name="Title" type="email" placeholder="">
  </span>
  </div>
   <div>
    <span class="elements"> 
      <label class="field" for="Title">02.  Contact No. for  Immediate Correspondence:-</label>
      
      <input name="Title" type="email" placeholder="">
  </span>
   </div>
  
	<!-- <p>01.  Name in Full(Mr./Ms.):-................................................................................................................................................................................................................................................................</p>
  <p>02.  Contact No. for  Immediate Correspondence:-.................................</p>
	-->
  <p>03.  Subject Combinations:- Select only <b>One </b>Subject Combination by putting "✓" against the preferred combination.</p> 
	</br>
	<table  border="1" cellpadding="10px" align="center">
	
	<tbody>
	<tr border="0">
    <td border="0">COMB   1A</td>
    <td>MATH + CMIS + ELTN</td>
	<td>      </td>
  </tr>
  <tr>
    <td>COMB   1B</td>
    <td>STAT + CMIS + ELTN</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   1C</td>
    <td>MATH + STAT + CMIS</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   2A</td>
    <td>MATH + ELTN + IMGT</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   2B</td>
    <td>STAT + ELTN + IMGT</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   2C</td>
    <td>MATH + STAT + ELTN</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   3A</td>
    <td>MATH + IMGT + CMIS</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   3B</td>
    <td>STAT + IMGT + CMIS</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   3C</td>
    <td>MATH + STAT + IMGT  </td>
	<td></td>
  </tr>
 
	</tbody>
	</table>
	<br>
<h4>SEMESTER I</h4>
<table border="1px" border="1" cellpadding="10px" align="center" align="center">
<thead>
<tr>
<td colspan="3" align="center"><b>Compulsory Modules</b></td>
</tr>
<tr>
    <th>Module Code</th>
    <th>Title of the Module</th>
    <th>No. of Credits</th>
	
  </tr>
  </thead>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2">Total No. of Credits =</td>
    </tr>
</table>
</br>
<br>
<table border="1px" border="1" cellpadding="10px" align="center" align="center">
<thead>
<tr>
<td colspan="3" align="center"><b>Optional Modules</b></td>
</tr>
<tr>
    <th>Module Code</th>
    <th>Title of the Module</th>
    <th>No. of Credits</th>
	
  </tr>
</thead>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
    <td></td>
   <td></td>
   <td></td>
   </tr>
   <tr>
    <td></td>
   <td></td>
   <td></td>
   </tr>
   <tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2">Total No. of Credits =</td>
    
    </tr>
</table>
</br>
<br>
<h4>SEMESTER II</h4>
<table border="1px" border="1" cellpadding="10px" align="center" align="center">
<thead>
<tr>
<td colspan="3" align="center"><b>Compulsory Modules</b></td>
</tr>
<tr>
    <th>Module Code</th>
    <th>Title of the Module</th>
    <th>No. of Credits</th>
	
  </tr>
  </thead>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>

  <tr>
    <td></td>
    <td colspan="2">Total No. of Credits =</td>
    
    </tr>
</table>
</br>
<br>
<table border="1px" border="1" cellpadding="10px" align="center" align="center">
<thead>
<tr>
<td colspan="3" align="center"><b>Optional Modules</b></td>
</tr>
<tr>
    <th>Module Code</th>
    <th>Title of the Module</th>
    <th>No. of Credits</th>
	
  </tr>
  </thead>
  <tr>
   <td>  </td>
  <td>  </td>
  <td></td>
  </tr>
  <tr>
    <td></td>
   <td></td>
   <td></td>
   </tr>
   <tr>
    <td></td>
   <td></td>
   <td></td>
   </tr>
   <tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2">Total No. of Credits =</td>
    </tr>
    <tr>
      <td colspan="3">Total number of credits for the academic year =</td>
    </tr>  
</table>

<p>04. Registration Fee:  Rs. 150</p>
<table class="date_table">
  <tr>
    <td>Date of Payments:</td>
    <td>Receipt No:</td>
    </tr>
    <tr>
      <td>Date: ...........................</td>
      <td>.................................</td>
      </tr>
      <tr>
        <td></td>
        <td>Signature of Applicant</td>
      </tr>
  </table>
</br>
<hr>
<!-- <p>Date of Payments</p>
<p align="right">Receipt No</p> 
<p>Date: ...............</p>
<p align="right">..................</p>
<p align="right">Signature of Applicant</p> -->
<p>I certify that the above student has selected the correct set of modules relevant to his/her combination at level 3 and that he/she will fulfill the minimum annual credit requirement in respect of the subject area(s) offered by my Department </p>
</br>
</br>
<table class="Signature_table">
  <tr>
    <td>..................................................</td>
    <td>..................................................</td>
    <td>..................................................</td>
    <td>..................................................</td>

    </tr>
    <tr>
      <td>Signature of the Head/Academic Advisor/CMIS</td>
      <td>Signature of the Head/Academic Advisor/ELTN</td>
      <td>Signature of the Head/Academic Advisor/IMGT</td>
      <td>Signature of the Head/Academic Advisor/MATH</td>
      </tr>
      <tr>
        <td>Date...........................................</td>
        <td>Date...........................................</td>
        <td>Date...........................................</td>
        <td>Date...........................................</td>
    
        </tr>
</table>	
</br>
<p>I certify that the above student has selected required minimum/maximum number of modules aggregating to the number of credits............................... for Level 3</p>
	
</br>
<p>.........................................................</p>
	<p>Signature of the Student Counsellor</p>
	
	</form>
</div>
</body>
</html>