
<html>
<head>
  <link rel="stylesheet" href="registrationForm.css">
</head>
<body>
	<form>
	<div class="container">
	<textarea cols="10" rows="8" value="">  
</textarea> 
	<p align="center"><em>Faculty of Applied Sciences</em></p>
	<h5 align="center"><em>Wayamba University of Sri Lanka</em></h5>
	<h4 align="center">Course Registration Form</h4>
	<h5 align="center">Acadamic Year: 2019/2020 (Level 3)</h5>
	<h3 align="center">B.Sc.(General) Degree Program</h3>
	<div align="right">
	<input type="text" id="RegNo" name="username" placeholder="Reg. No............"><br>
	</div>
	<p>01.  Name in Full(Mr./Ms.):-........................................................................................</p>
	<p>02.  Contact No. for  Immediate Correspondence:-........................................................................................</p>
	<p>03.  Subject Combinations:- Select only One Subject Combination by putting "✓" against the preferred combination.</p>
	</br>
	<table border="1px solid black" align="center">
	
	<tbody>
	<tr>
    <td>COMB   1A</td>
    <td>MATH + CMIS + ELTN</td>
	<td>      ..</td>
  </tr>
  <tr>
    <td>COMB   1B</td>
    <td>STAT + CMIS + ELTN</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   1C</td>
    <td>MATH + STAT + CMIS</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   2A</td>
    <td>MATH + ELTN + IMGT</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   2B</td>
    <td>STAT + ELTN + IMGT</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   2C</td>
    <td>MATH + STAT + ELTN</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   3A</td>
    <td>MATH + IMGT + CMIS</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   3B</td>
    <td>STAT + IMGT + CMIS</td>
	<td></td>
  </tr>
  <tr>
    <td>COMB   3C</td>
    <td>MATH + STAT + IMGT  </td>
	<td></td>
  </tr>
 
	</tbody>
	</table>
	
<h5>SEMESTER 1</h5>
<table border="1px" align="center">
<thead>
<tr>
<td>Compulsory Modules</td>
</tr>
<tr>
    <th>Module Code</th>
    <th>Title of the Module</th>
    <th>No. of Credits</th>
	
  </tr>
  </thead>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th></th>
  <th>total credits</th>
  
  </tr>
</table>
</br>
<table border="1px" align="center">
<thead>
<tr>
<td>Optional Modules</td>
</tr>
<tr>
    <th>Module Code</th>
    <th>Title of the Module</th>
    <th>No. of Credits</th>
	</thead>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
</table>
</br>
<h5>SEMESTER 2</h5>
<table border="1px" align="center">
<thead>
<tr>
<td>Compulsory Modules</td>
</tr>
<tr>
    <th>Module Code</th>
    <th>Title of the Module</th>
    <th>No. of Credits</th>
	
  </tr>
  </thead>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
</table>
</br>
<table border="1px" align="center">
<thead>
<tr>
<td>Optional Modules</td>
</tr>
<tr>
    <th>Module Code</th>
    <th>Title of the Module</th>
    <th>No. of Credits</th>
	
  </tr>
  </thead>
  <tr>
   <td>  </td>
  <td>  </td>
  <td></td>
  </tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td></td>
  <td></td>
  <td></td>
  </tr>
</table>
<p>04. Registration Fee:  Rs. 150</p>
<p>Date of Payments</p>
<p align="right">Receipt No</p> 
<p>Date: ...............</p>
<p align="right">..................</p>
<p align="right">Signature of Applicant</p>
<p>I certify that the above student has selected the correct set of modules relevant to his/her combination at level 3 and that he/she will fulfill the minimum annual credit requirement in respect of the subject area(s) offered by my Department </p>
	<p>.......................................</p>
	<p>Signature of the Head/Academic Advisor/CMIS</p>
	<p>.......................................</p>
<p>Signature of the Head/Academic Advisor/ELTN</p>
<p>.......................................</p>
<p>Signature of the Head/Academic Advisor/IMGT</p>
<p>.......................................</p>
<p>Signature of the Head/Academic Advisor/MATH</p>

<p>I certify that the above student has selected required minimum/maximum number of modules aggregating to the number of credits................. for Level 3</p>
	<p>..........................</p>
	<p>Signature of the Student Counsellor</p>
	</div>
	</form>
</body>
</html>