
<html>
    <head>
      <link rel="stylesheet" href="registrationForm.css">
    </head>
    <body>
        
        <div class="container-fluid">
        <form>
        <!-- <textarea cols="10" rows="8" value="">  
    </textarea>  -->
    <div class="photo">Photograph</div>
        <h5 align="center"><em>Faculty of Applied Sciences</em></h5>
        <h5 align="center"><em>Wayamba University of Sri Lanka</em></h5>
        <h4 align="center">Course Registration Form</h4>
        <h5 align="center">Acadamic Year: 2019/2020 (Level 3)</h5>
        <h3 align="center">B.Sc.(Special) Degree Program</h3>
        <div align="right">
          <input type="text" id="RegNo" name="username" placeholder="Reg. No................................."><br>
        </div>
        <p>01.  Name in Full(Mr./Ms.) :-................................................................................................................................................................................................................................................................</p>
        <p>02.  Contact No. for  Immediate Correspondence :-..................................................</p>
        <p>03.  Selected Subject Combinations    :-</p>
        </br>
        <table  border="1" cellpadding="10px" align="center">
          <thead>
            <tr>
              <td>Degree Programme</td>
              <td>Special Program Mark(✓)</td>
              <td>Subsidiary Subject</td>
              </tr>          
          </thead>
	
          <tbody>
          <tr border="0">
            <td border="0">B.Sc.(Special) Degree in Computer Science</td>
            <td> </td>
          <td>   </td>
          </tr>
          <tr>
            <td>B.Sc.(Special) Degree in Applied Electronics</td>
            <td> </td>
          <td></td>
          </tr>
          <tr>
            <td>B.Sc.(Special) Degree in Industrial Management</td>
            <td> </td>
          <td></td>
          </tr>
          <tr>
            <td>B.Sc.(Special) Degree in Mathematics with Statistics</td>
            <td></td>
          <td></td>
          </tr>
          
          </tbody>
          </table>
          
        
    <h5>SEMESTER 1</h5>
    <table border="1px" border="1" cellpadding="10px" align="center" align="center">
    <thead>
    <tr>
    <td colspan="3" align="center">Specialized Subject</td>
    </tr>
    <tr>
        <td>Module Code</td>
        <td>Title of the Module</td>
        <td>No. of Credits</td>
        
      </tr>
      </thead>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
      <td></td>
      <td colspan="2">Total No. of Credits =</td>
      
      </tr>
    </table>
    </br>
    <table border="1px" border="1" cellpadding="10px" align="center" align="center">
    <thead>
    <tr>
    <td colspan="3" align="center">Subsidiary Subject</td>
    </tr>
    <tr>
        <td>Module Code</td>
        <td>Title of the Module</td>
        <td>No. of Credits</td>
        </thead>
      </tr>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
        <td></td>
       <td></td>
       <td></td>
       </tr>
       <tr>
        <td></td>
       <td></td>
       <td></td>
       </tr>
       <tr>
        <td></td>
       <td></td>
       <td></td>
       </tr>
      <tr>
        <td></td>
       <td></td>
       <td></td>
       </tr>
      <tr>
      <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2">Total No. of Credits =</td>
        
        </tr>
    </table>
    </br>
    <h5>SEMESTER II</h5>
    <table border="1px" border="1" cellpadding="10px" align="center" align="center">
    <thead>
    <tr>
    <td colspan="3" align="center">Specialized Subject</td>
    </tr>
    <tr>
        <td>Module Code</td>
        <td>Title of the Module</td>
        <td>No. of Credits</td>
        
      </tr>
      </thead>
      <tr>
      <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
      <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
      <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
      <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
       <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
        <td></td>
            <td colspan="2">Total No. of Credits =</td>
            
      </tr>
    </table>
    </br>
    <table border="1px" border="1" cellpadding="10px" align="center" align="center">
    <thead>
    <tr>
    <td colspan="3" align="center">Subsidiary Subject</td>
    </tr>
    <tr>
        <td>Module Code</td>
        <td>Title of the Module</td>
        <td>No. of Credits</td>
        
      </tr>
      </thead>
      <tr>
       <td>  </td>
      <td>  </td>
      <td></td>
      </tr>
      <tr>
        <td></td>
       <td></td>
       <td></td>
       </tr>
       <tr>
        <td></td>
       <td></td>
       <td></td>
       </tr>
       <tr>
        <td></td>
       <td></td>
       <td></td>
       </tr>
      <tr>
      <td></td>
      <td></td>
      <td></td>
      </tr>
      <tr>
        <td></td>
            <td colspan="2">Total No. of Credits =</td>  
      </tr>
      <tr>
        <td colspan="3">Total number of credits for the academic year =</td>
      </tr>
    </table>
    <p>04. Registration Fee:  Rs. 150</p>
    <table class="date_table">
      <tr>
        <td>Date of Payments:</td>
        <td>Receipt No:</td>
        </tr>
        <tr>
          <td>Date: .....................................</td>
          <td>.................................</td>
          </tr>
          <tr>
            <td></td>
            <td>Signature of Applicant</td>
          </tr>
      </table>
    </br>
    <hr>
    <p>I certify that the above student has selected the correct set of modules relevant to his/her combination at level 3 and that he/she will fulfill the minimum annual credit requirement in respect of the subject area(s) offered by my Department </p>
  </br>
</br>
<table class="Signature_table">
  <tr>
    <td>..................................................</td>
    <td>..................................................</td>
    <td>..................................................</td>
    <td>..................................................</td>

    </tr>
    <tr>
      <td>Signature of the Head/Academic Advisor/CMIS</td>
      <td>Signature of the Head/Academic Advisor/ELTN</td>
      <td>Signature of the Head/Academic Advisor/IMGT</td>
      <td>Signature of the Head/Academic Advisor/MATH</td>
      </tr>
      <tr>
        <td>Date...........................................</td>
        <td>Date...........................................</td>
        <td>Date...........................................</td>
        <td>Date...........................................</td>
    
        </tr>
</table>	
</br>
    <p>I certify that the above student has selected required minimum/maximum number of modules aggregating to the number of credits (30/33) for Level 3</p>
  </br>
  <p>.........................................................</p>
    <p>Signature of the Student Counsellor</p>
    
        </form>
    </div>
    </body>
    </html>