<div class="row" id="main-content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <% if (!data[0].firstName || data[0].firstName.length===0) { %>
                <h3 class="title" style="display: inline-block;">
                    <div id="tod" style="display: inline-block;"> </div><%= data[0].username %> !
                </h3>
                <% } else{%>
                <h3 class="title" style="display: inline-block;">
                    <div id="tod" style="display: inline-block;"> </div> <%= data[0].firstName %> !
                </h3>
                <% } %>

            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>

<div class="row" id="error-content">

</div>