<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Get Modules</h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="col-md-3 pr-1">
                            <div style="width: 225px;">
                                <div class="selectdiv">
                                    <label>
                                        <select id="deptSelect">
                                            <option selected> Select Department</option>
                                            <option value="1">Department of Computing & Information Systems</option>
                                            <option value="2">Department of Electronics</option>
                                            <option value="3">Department of MAthematical Studies</option>
                                            <option value="4">Department of Industrial Management</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 pl-1">
                            <div class="form-group" style="width:max-content;">
                                <div class="selectdiv">
                                    <label>
                                        <select id="lvlSelect" style="width: 225px;">
                                            <option selected> Select Level of study</option>
                                            <option value="1">Level I </option>
                                            <option value="2">Level II</option>
                                            <option value="3">Level III</option>
                                            <option value="4">Level IV</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 pr-1">
                            <div class="form-group">
                                <button class="btn btn-primary btn-round btn-outline-info" id="submitbtn">
                                    <i class="now-ui-icons education_agenda-bookmark"></i> Get Modules
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="dynamicContent">

    </div>
</div>